-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - Movie.all_ratings.each do |rating|
    = rating
    = check_box_tag(name="ratings[#{rating}]")
  = submit_tag 'Refresh'
  
%table#movies
  %thead
    %tr
      %th{class:("hilite" if @sort == "title"),:id => "title_header"}= link_to "Movie Title", :sort => "title", :ratings=>@ratings
      %th Rating
      %th{class:("hilite" if @sort == "release_date"),:id => "release_date_header"}= link_to "Release Date", :sort => "release_date", :ratings=>@ratings
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
